#caja {
  background-color: black;
}

#botones {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 90px;
  background-color: black;
}

.btn-circle.btn-xl {
  width: 50px;
  height: 50px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
  border-radius: 50%;
  font-weight: bolder;
  font-size: 15px;
  margin-top: 10px;
}

.carousel-inner2 {
  width: 100%;
  height: 40vh;
}

.imagen1 {
  width: 100%;
  height: 40vh;
  background-image: url(img/news.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.imagen2 {
  width: 100%;
  height: 40vh;
  background-image: url(img/cartel1.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.imagen3 {
  width: 100%;
  height: 40vh;
  background-image: url(img/cartel2.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.linea {
  border-top: 3px solid gold;
  height: 2px;
  max-width: 400px;
  padding: 0;
  margin: 20px auto 0 auto;
  margin-top: 30px;
}

.aclamada {
  color: gray;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 70px;
}

#popUp {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: grey;
  border: black solid 2px;
  height: 350px;
  width: 700px;
  margin-left: 400px;
}
#popUp .thisOne {
  width: 700px;
  height: 500px;
  margin-left: 100px;
  position: absolute;
  border-color: black solid 3px;
}
#popUp .thisOne iframe {
  margin-top: 35px;
  margin-left: 30px;
}
#popUp .btn-close {
  margin-left: 630px;
  margin-top: 10px;
  background-color: red;
}

#prueba {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  text-align: center;
  color: white;
}
#prueba .imgPelicula {
  height: 350px;
  border: white solid 3px;
}
#prueba .btn-info {
  display: flex;
  flex-wrap: nowrap;
  width: 250px;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  color: white;
}
#prueba .tituloPeli {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  background-color: black;
  height: 30px;
  color: gold;
}
#prueba .btn-success {
  display: flex;
  flex-wrap: nowrap;
  width: 250px;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  color: white;
  margin-top: -10px;
}

.movies {
  display: none;
}

#modal {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 50px;
  text-align: center;
  color: white;
  position: absolute;
}
#modal .catePeli {
  background-color: black;
  width: 250px;
  color: white;
  font-weight: bolder;
}
#modal .idiomaPeli {
  background-color: black;
  width: 250px;
  color: white;
  font-weight: bolder;
}
#modal .duracionPeli {
  background-color: black;
  width: 250px;
  color: white;
  font-weight: bolder;
}
#modal .actorPeli {
  background-color: black;
  width: 250px;
  color: white;
  font-weight: bolder;
}
#modal .actorPeli span {
  color: gold;
}
#modal .directorPeli {
  background-color: black;
  width: 250px;
  color: white;
}

.linea2 {
  border-top: 3px solid gold;
  height: 2px;
  max-width: 400px;
  padding: 0;
  margin: 20px auto 0 auto;
  margin-top: 80px;
}

.especial {
  color: gray;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 70px;
}

#popUp2 {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: grey;
  border: black solid 2px;
  height: 350px;
  width: 700px;
  margin-left: 400px;
  margin-top: 20px;
}
#popUp2 .thisOne2 {
  width: 700px;
  height: 500px;
  margin-left: 100px;
  position: absolute;
  border-color: black solid 3px;
}
#popUp2 .thisOne2 iframe {
  margin-top: 35px;
  margin-left: 30px;
}
#popUp2 .btn-close {
  margin-left: 630px;
  margin-top: 10px;
  background-color: red;
}

#prueba2 {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  text-align: center;
  color: white;
}
#prueba2 .imgPelicula2 {
  height: 350px;
  border: white solid 3px;
}
#prueba2 .btn-info {
  display: flex;
  flex-wrap: nowrap;
  width: 250px;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  color: white;
}
#prueba2 .tituloPeli {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  background-color: black;
  height: 30px;
  color: gold;
}
#prueba2 .btn-success {
  display: flex;
  flex-wrap: nowrap;
  width: 250px;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  color: white;
  margin-top: -10px;
}

#modal2 {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 50px;
  text-align: center;
  color: white;
  position: absolute;
}
#modal2 .catePeli {
  background-color: black;
  width: 250px;
  color: white;
  font-weight: bolder;
}
#modal2 .idiomaPeli {
  background-color: black;
  width: 250px;
  color: white;
  font-weight: bolder;
}
#modal2 .duracionPeli {
  background-color: black;
  width: 250px;
  color: white;
  font-weight: bolder;
}
#modal2 .actorPeli {
  background-color: black;
  width: 250px;
  color: white;
  font-weight: bolder;
}
#modal2 .actorPeli span {
  color: gold;
}
#modal2 .directorPeli {
  background-color: black;
  width: 250px;
  color: white;
}

#forms {
  margin-top: 120px;
  height: 35vh;
  background-image: url(img/cine.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
#forms .prueba1 {
  width: 500px;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
  margin-top: 100px;
  height: 52px;
}
#forms .btn-success {
  height: 55px;
  font-weight: bolder;
}/*# sourceMappingURL=style.css.map */