#caja {
    background-color: black;
}


#botones {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 90px;
    background-color: rgb(51, 51, 51);
}

.btn-circle.btn-xl {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 10px;
}

.carousel-inner2 {
    width: 100%;
    height: 40vh;
}

.imagen1 {
    width: 100%;
    height: 40vh;
    background-image: url(img/news.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.imagen2 {
    width: 100%;
    height: 40vh;
    background-image: url(img/cartel1.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.imagen3 {
    width: 100%;
    height: 40vh;
    background-image: url(img/cartel2.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.linea {
    border-top: 3px solid gold;
    height: 2px;
    max-width: 400px;
    padding: 0;
    margin: 20px auto 0 auto;
    margin-top: 30px;
}


.aclamada {
    color: gray;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 70px;
}

#popUp {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color:white;
    border: black solid 2px;
    height: 350px;

    .card1{
        margin-left: 80px;
        width: 400px;
        height: 300px;
        margin-top: 35px;
        background-color: grey;
        color: white;
        border-color: white;
    }

    .info{
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        margin-left: -550px;
        margin-top: 35px;
        height: 300px;
        width: 220px;
        background-color: grey;
        h5{
            // text-align: center;
            text-transform: uppercase;
            margin-top: 15px;
            color: black;
            font-weight: bold;
            background-color: white;
            width: 170px;
            text-align: center;
            justify-content: center;
        }
        li{
            text-align: start;
            margin-top: 20px;
            color: white;
            text-transform: lowercase;
        }
    }

    .thisOne {
        width: 700px;
        height: 500px;
        margin-left: 500px;
        position: absolute;
        border-color: black solid 3px;

        iframe {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            margin-top: 35px;
            margin-left: 300px;
            border-color: black solid 3px;
            // margin-left: 70px;
        }
    }
    
    .btn-close{
        // display: flex;
        // justify-content: center;
        margin-left:-120px;
        color: red;
    }
}



#prueba {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    text-align: center;
    color: white;

    .imgPelicula {
        height: 350px;
        border: white solid 3px;
    }

    .btn-info{
        display: flex;
        flex-wrap: nowrap;
        width: 250px;
        text-align: center;
        font-weight: bold;
        justify-content: center;
        color: white;
    }

    .tituloPeli {
        font-size: 18px;
        margin-top: 10px;
        font-weight: bold;
        background-color: white;
        height: 30px;
        color: black;
    }

    .btn-success{
        display: flex;
        flex-wrap: nowrap;
        width: 250px;
        text-align: center;
        font-weight: bold;
        justify-content: center;
        color: white;
        margin-top: -10px;
    }

}

.movies {
    display: none;
}


.linea2 {
    border-top: 3px solid gold;
    height: 2px;
    max-width: 400px;
    padding: 0;
    margin: 20px auto 0 auto;
    margin-top: 80px;
}


.especial {
    color: gray;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 70px;
}

#prueba2 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    text-align: center;
    color: white;

    .imgPelicula {
        height: 350px;
        border: white solid 3px;
    }

    .tituloPeli {
        font-size: 22px;
        margin-top: 10px;
        font-weight: bold;
    }

    .idiomaPeli {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
}

#forms {
    margin-top: 120px;
    height: 35vh;
    background-image: url(img/cine.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    .prueba1 {
        width: 500px;
        text-align: center;
        justify-content: center;
        font-weight: bolder;
        margin-top: 100px;
        height: 52px;
    }
    .btn-success{
        height: 55px;
        font-weight: bolder;
    }
}


footer {
    background-color: gray;
    height: 10vh;
}